<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Меню</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<h1>Меню</h1>


<div>
    <a href="/order" class="button">Подать показания за электроэнергию</a>
</div>

<div>
    <a href="/order" class="button">Посмотреть последний платеж</a>
</div>

<div>
    <a href="/order" class="button">Подать показания за воду</a>
</div>

<div>
    <a href="/info" class="button">Посмотреть личные данные</a>
</div>

<br>
<a href = "/" class="button"> На главную </a>

</body>
</html>