<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<h1>Создание нового пользователя</h1>

<form action="#" th:action="@{/registrationForm}" th:object="${dto}" method="post">
    <label for="Id"> ID </label>
    <input type="text" th:field="*{id}" />
    <br>
    <label for="login"> Login </label>
    <input type="text" th:field="*{login}" />
    <br>
    <label for="password">Password </label>
    <input type="text" th:field="*{password}" />
    <br>
    <label for="first_name"> First name </label>
    <input type="text" th:field="*{firstName}" />
    <br>
    <label for="last_name"> Last name </label>
    <input type="text" th:field="*{lastName}" />
    <br>
    <label for="middle_name"> Middle name </label>
    <input type="text" th:field="*{middleName}" />
    <br>
    <label for="flat"> Flat </label>
    <input type="text" th:field="*{flat}" />
    <br>

    <input type="submit" />

</form>

<br>
<a href = "/" class="button"> На главную </a>


</body>
</html>